.BootsListItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 500px;
  height: 200px;
  background-color: #ffffff57;
  border-radius: 20px;
  border: 2px solid white;
  padding: 0.5em;
}

.BootImg {
  height: 90px;
  transform: rotate(-50deg);
}

.BootInfo {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.BootName {
  font-size: 1.3em;
  color: #ffffff;
}

.BootDescription {
  font-size: small;
  text-align: justify;
  color: #a7a7a7;
}

.BootPrice {
  color: #f4b900;
  font-size: 1em;
}

.BootBadge {
  background-color: #431111;
  border-radius: 80%;
  padding: 0.2em 0.4em;
}

.BootButtons {
  height: 15%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ActionsAdd {
  width: 100%;
}

.ActionsReduce {
  width: 40%;
}

.ActionsTest {
  background-color: #6b1b1b;
  color: #ffffff;
  width: 40%;
}

.Btns {
  transition: all 0.2s ease-out;
  background-color: #6b1b1b;
  color: #ffffff;
  font-family: "Orbitron";
  border-radius: 10px;
  height: 100%;
}

.Btns:hover {
  color: #f4b900;
  cursor: pointer;
  transform: scale(1.05);
}

.bi-cart-dash::before {
  transform: scale(1.6);
}

.bi-cart-plus::before {
  transform: scale(1.6);
}

@media (max-width: 650px) {
  .BootsListItem {
    width: 300px;
    height: 120px;
  }

  .BootImg {
    height: 54px;
  }

  .BootName {
    font-size: 0.8em;
  }

  .BootPrice {
    font-size: 0.6em;
  }

  .BootDescription {
    font-size: x-small;
  }

  .Btns {
    font-size: 0.5em;
    border-radius: 7px;
  }

  .BootBadge {
    font-size: 0.5em;
  }
}

@media (max-width: 360px) {
  .BootsListItem {
    width: 220px;
    height: 120px;
  }

  .BootImg {
    height: 40px;
  }

  .BootName {
    font-size: 0.7em;
  }

  .BootPrice {
    font-size: 0.5em;
  }

  .BootDescription {
    font-size: 0.5em;
  }

  .Btns {
    font-size: 0.3em;
  }

  .BootBadge {
    font-size: 0.45em;
  }
}
