.Header {
  background-color: brown;
  width: calc(100vw - 20px);
  height: 80px;
  position: fixed;
  top: 0;
  z-index: 999;
  display: flex;
  justify-content: center;
}

.Row {
  height: 100%;
  width: 100%;
  max-width: 1200px;
  display: flex;
  align-items: center;
}

.Logo {
  display: flex;
  align-items: center;
  gap: 1em;
  height: 25px;
  font-size: 2em;
  position: relative;
  background-color: #431111;
  padding: 0.1em 1.2em;
  border-radius: 10px;
}

.LogoIcon {
  position: absolute;
  left: -33px;
  top: -20px;
}
