.Home {
  position: relative;
  margin: 10px;
  min-height: calc(100vh - 20px);
  border-radius: 20px;
  color: #ffffff;
  background-image: radial-gradient(
    farthest-corner at 40px 40px,
    #130d0d 60%,
    #160c0c 80%
  );
}

.HomeContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
