.DefaultButton {
  padding: 0.4em 1em;
  background: #6b1b1bcc;
  -webkit-backdrop-filter: blur(9px);
  backdrop-filter: blur(9px);
  border: 1px solid rgba(107, 27, 27, 0.4);
  color: #ffffff;
  font-family: "Orbitron";
  border-radius: 10px;
  font-size: 1em;
  transition: all 0.2s ease;
  display: flex;
  align-items: center;
}

.DefaultButton:hover {
  color: #f4b900;
  cursor: pointer;
  transform: scale(1.05);
}

@media (max-width: 650px) {
  .DefaultButton {
    font-size: 0.7em;
  }
}

@media (max-width: 360px) {
  .DefaultButton {
    font-size: 0.5em;
  }
}
