#options {
  width: 80%;
  max-width: 1300px;
  height: 5vh;
  margin-top: 100px;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 2em;
}

#options > i {
  transform: scale(1.4);
  transition: all 0.2s ease-out;
}

#options > i:hover {
  color: #f4b900;
  cursor: pointer;
  transform: scale(1.6);
}

#optionsButtons {
  border: 2px solid greenyellow;
  display: flex;
  flex-direction: column;
}

.DefaultButton {
  padding: 0.4em 1em;
  background-color: #6b1b1b;
  color: #ffffff;
  font-family: "Orbitron";
  border-radius: 10px;
  font-size: 1em;
  transition: all 0.2s ease-out;
  display: flex;
  align-items: center;
}

.DefaultButton:hover {
  color: #f4b900;
  cursor: pointer;
  transform: scale(1.05);
}
